:root {
    --col-width: 8.3333333333% 
}

.container {
    max-width: 900px;
    margin:  auto;
}

.row {
    display: flex;
}

.col-1 {
    width: var(--col-width);
}

.col-2 {
    width: calc(var(--col-width)*2) ;
}
.col-3 {
    width: calc(var(--col-width)*3) ;
}.col-4 {
    width: calc(var(--col-width)*4) ;
}.col-5 {
    width: calc(var(--col-width)*5) ;
}.col-6 {
    width: calc(var(--col-width)*6) ;
}.col-7 {
    width: calc(var(--col-width)*7) ;
}.col-8 {
    width: calc(var(--col-width)*8) ;
}.col-9 {
    width: calc(var(--col-width)*9) ;
}.col-10 {
    width: calc(var(--col-width)*10) ;
}.col-11 {
    width: calc(var(--col-width)*11) ;
}.col-12 {
    width: calc(var(--col-width)*12) ;
}

[class*="col-"] {
    padding: 10px;
}

@media (max-width: 900px) {
    [class*="col-"] {
        width: 100%;
    }
    .row {
        display: inherit;
    }
}


h1 {
    margin: 100px;
}

.container {
    display: grid;
    grid-template-columns: 70%;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 40px 0 40px 40px;
    width: 80%;
    margin: auto;
    margin-left: 20%;
    
}
.product-description-container {
    display: flex;
    text-align: left;
    justify-content: space-around;
    align-items: center;
    padding: 40px;

    
}

.product-description-container img {
    width: 250px;
}


.product-description-container p {
    margin-left: 100px;
}
.fix p{
    margin-left: 10px; 
}
